body {
    background-color: #4CE0D2;
}

#p1paddle {
    height: 100px;
    width: 20px;
    background-color: #000dff;
    position: relative;
}

#p2paddle {
    height: 100px;
    width: 20px;
    background-color: #ff0000;
    position: relative;
    left: 1400px;
}