
a {
    color: black;
}

#tagModification{
    overflow-x: auto;
    white-space: nowrap;
}

#keyprompt {
    font-size: 40;
}

body {
    background-color: #22AAA1;
}

#updateTagValue {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    background-color: #60AFFF
}

button:hover {
    color:#000000;
    background-color:#FFFFFF;
}

#syslinkbox, #graphbox{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 200px;
    background-color:#4CE0D2;
}

#portA, #portB, #portC, #portD, #portE, #portF, #hub{
    position: absolute;
    background-color:#4CE0D2;
    width: 200px;
    height: 150px;
    border-style: solid;

}
#BrowserExplanation, #SPIKEExplanation {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 700px;
    height: 250px;
    background-color: #6CE1DF;
    border-style: dotted;
}

#syslinkextract {
    width: 500px;
    height: 250px;
    background-color: #4CE0D2;
}

#REPL {
    width: 1300px;
}

#jsonrpcbox {
    position: absolute;
    top: 500px;
    left: 10px;
    width: 1400px;
    height: 300px;
    background-color: #4CE0D2;
}

#container {
    width:1250px;
}

#tagModification{
    overflow-x: auto;
    white-space: nowrap;
}

#rgbbox {
    background-color: rgb(0,0,0);
    width:20px;
    height:20px;
}

#navbarbutton {
    background-color: #A2E1EF; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
  
/* Darker background on mouse-over */
#navbarbutton:hover {
    background-color: #2EBCDC;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a.active {
    background-color: #2FAFCC;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}